:root {
    --blue: #052F5F;
    --white: #FFF6F6;
    --black: #090909;
    --bluel: #005377;
    --red: #d72638;
}

.icon {
    width: 24px;
    padding: 8px;
  background: var(--white);
  border-radius: 15%;
}


body {
    background-color: #090909;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.content {
    max-height: 98vh;
    height: 98vh;
    overflow-y: hidden;
    display: grid;
    color: var(--white);
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
}

.left-side .header {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.name {
    font-size: 4rem;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    display: flex;
    align-items: center;
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

.arg {
    color: #4fc3f7;
}

.links > .link > a > img {
    margin-right: 8px;
}

.links > .link {
    margin-bottom: 4px;
}


@media (min-width: 640px) and (max-width: 1024px) {
    .content {
        grid-template-columns: 1fr;
        margin: 32px;
    }
    .left-side {
        grid-row: 2;
    }
    .right-side {
        grid-row: 1;
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .links {
        justify-content: space-around;
    }
    .links i {
        font-size: 72px;
    }
}

@media (min-width: 1024px) {
    .content {
        grid-template-columns: 1fr 2fr;
    }
    .left-side {
        grid-column: 1;
    }
    .right-side {
        grid-column: 2;
    }
} 
@media (min-width: 1590px) {
    .content {
        /* margin: 0 32px; */
    }
} 