:root {
    --blue: #052F5F;
    --white: #FFF6F6;
    --black: #090909;
    --bluel: #005377;
    --red: #d72638;
}

.icon {
    width: 24px;
    padding: 8px;
  background: var(--white);
  border-radius: 15%;
}


body {
    background-color: #090909;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    color: var(--white);
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8px;
}

.left-side .header {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.name {
    font-size: 4rem;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    display: flex;
    align-items: center;
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

.arg {
    color: #4fc3f7;
}

.links > .link > a > img {
    margin-right: 8px;
}

.links > .link {
    margin-bottom: 4px;
}


